<!doctype html>
<html>
	<head>
		<title>{{title}}</title>
	</head>

	<body>
		<form action="/" method="post">
			<input type="text" name="item" placeholder="Enter an item">
			<button>Add Item</button>
		</form>
		{{{body}}}
	</body>
</html>